@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap");

a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(39, 165, 22);
  display: inline;
  margin: 1%;
}
