/*
.wrapper {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://res.cloudinary.com/dlqijmifn/image/upload/v1687089530/janko-ferlic-sfL_QOnmy00-unsplash_j8kcoc.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}
*/
